<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Apple Music 2 Spotify</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
	crossorigin="anonymous">
</head>
<body>
	<div class="container p-5">
		<div class="row mb-4 text-center">
			<h1>Apple Music to Spotify</h1>
		</div>
		<div class="row mt-4">
			<div class="col-6 mx-auto">
				<h5>Tracks</h5>
				<span th:text="${tracks.size}"></span> items.
				<button type="button" class="btn btn-primary btn-sm">Select all</button>
				<button type="button" class="btn btn-danger btn-sm">Remove all</button>
			</div>
			<div class="col-6 mx-auto">
				<h5>Playlists</h5>
				X items.
				<button type="button" class="btn btn-primary btn-sm">Select all</button>
				<button type="button" class="btn btn-danger btn-sm">Remove all</button>
		</div>
		<div class="row mt-2">
			<div class="col-6 mx-auto" style="height: 400px; overflow-y: scroll;">
				<div class="form-check" th:each="track : ${tracks}">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault" th:text="${track.name} + ' - ' + ${track.artist}">checkbox</label>
				</div>
			</div>
			<div class="col-6 mx-auto" style="height: 400px; overflow-y: scroll;">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">Playlist name</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">Playlist name</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
					<label class="form-check-label" for="flexCheckDefault">Playlist name</label>
				</div>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col-4 mx-auto">
				<button type="button" class="btn btn-primary w-100 btn-sm mx-auto">Import Selections</button>
			</div>
		</div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
			crossorigin="anonymous"></script>
		</script>
</body>
</html>
